body{
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body.dark{
  color:#dde;
  background:#222;
}
body.light{
  color:#222;
  background:#dde;
}
#info{
  margin: 2rem;
  border-radius: 1rem;
}
#info.dark{
  color:#dde;
  background:#222;
  box-shadow:-0.7rem -0.7rem 0.5rem 0 #292929, 1rem 1rem 0.5rem 0 #111;
}
#info.light{
  color:#222;
  background:#dde;
  box-shadow:-1rem -1rem 1rem 0 #eeeef7, 1rem 1rem 1rem 0 #ccd;
}
p{font-size: 2rem; margin-bottom: 3rem; margin-top:1rem;}

/*lt refers to less than*/
.lt10{color:rgb(224, 229, 67);}
.lt50{color:rgb(116, 187, 104);}
.lt100{color:rgb(57, 147, 132);}
.lt200{color:rgb(32, 103, 171);}
.lt400{color:rgb(18, 64, 127);}
.lt800{color:rgb(83, 8, 74);}
.over800{color:rgb(43, 2, 38);}

.up{color:crimson;}
.down{color:chartreuse;}
